@charset "UTF-8";

/* Flexboxes (Main) */

.page-container {
    display: flex;
    flex-wrap: wrap;
    min-width: 10%;
    background-image: url("Images_n_Stuff/wallpaper_1.jpg");
    color: rgb(125, 141, 146);
}

.left-page-container {
    flex-grow: 1;
    max-width: 10%;
}

.middle-page-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-grow: 4;
    max-width: 80%;
}

.right-page-container {
    flex-grow: 1;
    max-width: 10%;
}

/* Middle Page Flexboxes and Containers */

/* About Section Flexboxes and Containers */
.about-flexbox-conatiner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.about-section-1 {
    min-height: 20%;
    max-width: 45%;
    flex-grow: 1;
    font-size: 24px;
}

.about-section-2 {
    min-height: 20%;
    max-width: 45%;
    flex-grow: 1;
}

.about-section-2-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    justify-content: space-evenly;
    align-items: center;
}

/* Gallery Section Flexboxes and Containers */

.gallery-flexbox-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    justify-content: space-around;
    align-items: center;
}

.gallery-section-1 {
    max-height: 20%;
    max-width: 20%;
    flex-grow: 1;
    font-size: 24px;
    margin: 3%
}



/* Contact Section Flexboxes and Containers */

.contact-flexbox-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-content: space-evenly;
}

.contact-section-1 {
    flex-grow: 1;
}

/* Sticky Classes */

.sticky {
    position: -webkit-sticky;
    position: sticky;
    z-index: 2;
    top: 0;
}

/* Animations, etc... */

th:hover {
    opacity: 60%;
}

/* ID's */

#top_banner {
    text-align: center;
    font-family: 'Caveat', cursive;
}

#navbar_borders {
    background-color: rgb(96, 131, 207);
    border: 4px solid rgb(175, 216, 233);
}

/* Anchor Link ID's */


#home {
    /*background: rgba(30, 173, 37, 0.6);*/
}


#about {
    /*background: rgba(33, 158, 56, 0.6);*/
    font-family: 'Caveat', cursive;
}

#contact {
    background: rgba(21, 20, 31, 0.6);
}

#gallery {
    background: rgba(21, 20, 31, 0.6);
}
