@charset "UTF-8";

/* Navigation bar links and lists */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 50%);
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    padding-top: 35%;
    padding-left: 20%;
    text-align: center;
    text-decoration: none;
}

li a:hover {
    color: rgba(0, 0, 0, 100%);
}

/* Flexbox stuff, used for organization mainly */
.page_Size {
    margin-left: 5%;
    margin-right: 5%;
}

.flexbox-navbar-home {
    margin-left: 20%;
    margin-right: 20%;
}
.flexbox-gallery-home {
    height: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.flexbox-gallery-home-borders {
    width: 10%;
    margin: 10px;
    border: 5px solid #333;
    background-color: #a5a5a5;
}

.flexbox-gallery-home-item-1 {
    min-height: 20%;
    flex-grow: 1;
}

/* Div 'sticky' class for any divs needing to stay onscreen*/

div.sticky {
    position: -webkit-sticky;
    position: sticky;
    z-index: 2;
    top: 0;
    height: 30%;
}

#navbar-name {
    padding-left: 10px;
}

#home-video {
    width: 100%;
    height: 50%;
}